# Specify assets server host name, eg.: d2oek0c5zwe48d.cloudfront.net
# ASSET_HOST=d2oek0c5zwe48d.cloudfront.net

# Port to serve application
PORT=5000

# current environment:
RACK_ENV=development

# base secret key:
SECRET_KEY_BASE=development_secret

# set Rollbar key for the app:
# ROLLBAR_KEY=your_key_here

# enable basic auth to close the app from unauthorized viewers:
# AUTH_BASIC_REALM=your_application_name
# AUTH_BASIC_PASS=your_password_here

# set single hostname:
# CANONICAL_HOST=paste_single_hostname_here

# google analytics:
# GA_TRACKER=your_ga_tracker_code_here
