{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "react/require-default-props": 0,
    "import/no-webpack-loader-syntax": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": ["frontend", "node_modules"]
          }
        }
      }
    }
  }
}