._*
.bundle
.env
.pryrc
.sass-cache
coverage/*
db/*.sqlite3
doc/**/*
log/*.log
public/uploads
rerun.txt
tmp/*
vendor/bundle
vendor/cache
vendor/ruby
/public/assets
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
