.bundle
db/*.sqlite3
log/*.log
tmp/*
coverage/*
rerun.txt
doc/**/*
vendor/bundle
vendor/cache
vendor/ruby
.sass-cache
._*
.env
.pryrc
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
yarn-error.log*
.yarn-integrity
