code {
  word-wrap: break-word;

  font-weight: normal;
}

h1,
h2 {
  margin: 1rem 0 .5rem;
}

h6 {
  margin-top: 0;

  line-height: 1;
}

li {
  list-style-position: inside;
}

.links {
  font-size: .85rem;
}
