code {
  font-weight: normal;
  word-wrap: break-word;
}

h1,
h2 {
  margin: 1rem 0 .5rem;
}

h6 {
  line-height: 1;
  margin-top: 0;
}

li {
  list-style-position: inside;
}

.links {
  font-size: .85rem;
}
