<a name="lists"></a>
<h1>List styles</h1>
<strong>Unordered list test</strong>
<ul>
  <li>Unordered list test</li>
  <li>Another list element. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  <li>Yet another element in the list</li>
  <li>Some long text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
</ul>
<br>
<strong>Ordered list test</strong>
<ol>
  <li>Ordered list test</li>
  <li>Another list element</li>
  <li>Yet another element in the list</li>
  <li>How many things do you really need in a list</li>
</ol>
<br>
<strong>Outer Ordered list item</strong>
<ol>
  <li>Outer Ordered list item</li>
  <li>Outer Ordered list item
    <ul>
      <li>Nested Unordered list item</li>
      <li>Nested Unordered list item
        <ol>
          <li>Inner Nested Ordered list item</li>
          <li>Inner Nested Ordered list item</li>
        </ol>
      </li>
    </ul>
  </li>
  <li>Outer Ordered list item</li>
  <li>Outer Ordered list item
    <ol>
      <li>Nested Ordered list item</li>
      <li>Nested Ordered list item
        <ul>
          <li>Inner Nested Unordered list item</li>
          <li>Inner Nested Unordered list item</li>
        </ul>
      </li>
    </ol>
  </li>
</ol>
<br>
<strong>Unstyled list item</strong><code>&lt;ul class="unstyled"&gt;</code>
<ul class="unstyled">
  <li>Outer Ordered list item</li>
  <li>Outer Ordered list item
    <ul>
      <li>Nested Unordered list item</li>
      <li>Nested Unordered list item</li>
    </ul>
  </li>
  <li>Outer Ordered list item</li>
  <li>Outer Ordered list item
    <ol>
      <li>Nested Ordered list item</li>
      <li>Nested Ordered list item</li>
    </ol>
  </li>
</ul>
<br>
<dl>
  <dt>definition list dt</dt>
  <dd>definition list dd</dd>
  <dt>definition list dt</dt>
  <dd>definition list dd</dd>
  <dt>definition list dt</dt>
  <dd>definition list dd one</dd>
  <dd>definition list dd two</dd>
</dl>

<br><br><br>