
<div class="view">
  <h2>List styles</h2>

  <ul>
    <li>Unordered list test</li>
    <li>Another list element. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    <li>Yet another element in the list</li>
    <li>Some long text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  </ul>

  <ol>
    <li>Ordered list test</li>
    <li>Another list element</li>
    <li>Yet another element in the list</li>
    <li>How many things do you really need in a list</li>
  </ol>

  <ol>
    <li>Outer Ordered list item</li>
    <li>Outer Ordered list item
      <ul>
        <li>Nested Unordered list item</li>
        <li>Nested Unordered list item
          <ol>
            <li>Inner Nested Ordered list item</li>
            <li>Inner Nested Ordered list item</li>
          </ol>
        </li>
      </ul>
    </li>
    <li>Outer Ordered list item</li>
    <li>Outer Ordered list item
      <ol>
        <li>Nested Ordered list item</li>
        <li>Nested Ordered list item
          <ul>
            <li>Inner Nested Unordered list item</li>
            <li>Inner Nested Unordered list item</li>
          </ul>
        </li>
      </ol>
    </li>
  </ol>

  <dl>
    <dt>definition list dt</dt>
    <dd>definition list dd</dd>
    <dt>definition list dt</dt>
    <dd>definition list dd</dd>
    <dt>definition list dt</dt>
    <dd>definition list dd one</dd>
    <dd>definition list dd two</dd>
  </dl>
</div>