<h2>Flash messages</h2>

<div class="error flash-message">
  This is a &lt;div&gt; with the class <strong>.error</strong>.
</div>
<div class="notice flash-message">
  This is a &lt;div&gt; with the class <strong>.notice</strong>.
</div>
<div class="success flash-message">
  This is a &lt;div&gt; with the class <strong>.success</strong>.
</div>
