<h2>Flash messages</h2>

<div class="error">
  This is a &lt;div&gt; with the class <strong>.error</strong>.
</div>
<div class="notice">
  This is a &lt;div&gt; with the class <strong>.notice</strong>.
</div>
<div class="success">
  This is a &lt;div&gt; with the class <strong>.success</strong>.
</div>
