<section class="styleguide">
  <a name="messages"></a>
  <h1>Flash messages</h1>
  <br>
  <div class="alert fade in alert-error">This is a &lt;div&gt; with the class <strong>.error</strong>.<a class="close" data-dismiss="alert">×</a></div>
  <div class="alert fade in alert-notice">This is a &lt;div&gt; with the class <strong>.notice</strong>.<a class="close" data-dismiss="alert">×</a></div>
  <div class="alert fade in alert-success">This is a &lt;div&gt; with the class <strong>.success</strong>.<a class="close" data-dismiss="alert">×</a></div>
</section>
