<a name="misc"></a>
<h1>Emphasis, address, labels, and abbreviation</h1>
  <div class="row">
    <div class="span4">
      <h3>Using emphasis</h3>
      <p><a href="#">Fusce dapibus</a>, <strong>tellus ac cursus commodo</strong>, <em>tortor mauris condimentum nibh</em>, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue.</p>
      <p><strong>Note:</strong> Feel free to use <code>&lt;b&gt;</code> and <code>&lt;i&gt;</code> in HTML5, but their usage has changed a bit. <code>&lt;b&gt;</code> is meant to highlight words or phrases without conveying additional importance while <code>&lt;i&gt;</code> is mostly for voice, technical terms, etc.</p>
    </div>
    <div class="span4">
      <h3>Example addresses</h3>
      <p>Here are two examples of how the <code>&lt;address&gt;</code> tag can be used:</p>
      <address>
        <strong>Disneyland</strong><br>
        Donald Duck<br>
        Box 555<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
      <address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">first.last@gmail.com</a>
      </address>
    </div>
    <div class="span4">
      <h3>Example abbreviations</h3>
      <p>Abbreviations are styled with uppercase text and a light dotted bottom border. They also have a help cursor on hover so users have extra indication something will be shown on hover.</p>
      <p><abbr title="HyperText Markup Language">HTML</abbr> is the best thing since sliced bread.</p>
      <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
    </div>
  </div>
  <br>
  <h2>Inline labels</h2>
  <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Labels</th>
          <th>Markup</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="label">Default</span>
          </td>
          <td>
            <code>&lt;span class="label"&gt;Default&lt;/span&gt;</code>
          </td>
        </tr>
        <tr>
          <td>
            <span class="label label-success">Success</span>
          </td>
          <td>
            <code>&lt;span class="label label-success"&gt;Success&lt;/span&gt;</code>
          </td>
        </tr>
        <tr>
          <td>
            <span class="label label-warning">Warning</span>
          </td>
          <td>
            <code>&lt;span class="label label-warning"&gt;Warning&lt;/span&gt;</code>
          </td>
        </tr>
        <tr>
          <td>
            <span class="label label-important">Important</span>
          </td>
          <td>
            <code>&lt;span class="label label-important"&gt;Important&lt;/span&gt;</code>
          </td>
        </tr>
        <tr>
          <td>
            <span class="label label-info">Info</span>
          </td>
          <td>
            <code>&lt;span class="label label-info"&gt;Info&lt;/span&gt;</code>
          </td>
        </tr>
      </tbody>
    </table>
<br><br><br>