<div class="view">
  <p>
    <strong>&lt;strong&gt;</strong><br />
    <ins>&lt;ins&gt; inserted</ins><br />
    <del>&lt;del&gt; deleted</del><br />
    <dfn>&lt;dfn&gt; dfn</dfn><br />
    <em>&lt;em&gt; emphasis</em><br />
  </p>

  <p>
    <a>&lt;a&gt; anchor</a><br />
    <a href="http://www.google.com">&lt;a&gt; a + href</a><br />
  </p>

  <p>
    <abbr title="extended abbr text should show when mouse over">&lt;abbr&gt; abbr - extended text when mouseover.</abbr><br />
    <acronym title="extended acronym text should show when mouse over">&lt;acronym&gt; acronym - extended text when mouseover.</acronym><br />
  </p>

  <address>
    &lt;address&gt;<br />
    Donald Duck<br />
    Box 555<br />
    Disneyland
  </address>
</div>