<section class="styleguide">
  <a name="tables"></a>
  <h1>Tables</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Exce</th>
        <th>Date</th>
        <th>Authors</th>
        <th>Published</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tr>
      <td>Edge Rails: PATCH is the new primary HTTP method for updates</td>
      <td>The HTTP method PUT means resource creation or replacement at some given URL.</td>
      <td>2012-02-26</td>
      <td>fxn</td>
      <td>false</td>
      <td class="actions"><a class="btn" href="/articles/4">
              <i class="icon-eye-open"></i> Show</a><a class="btn" href="/articles/4/edit"><i class="icon-edit"></i> Edit</a><a rel="nofollow" data-confirm="Are you sure?" class="btn btn-danger" href="/styleguides"><i class="icon-trash icon-white"></i> Delete</a></td>
    </tr>
    <tr>
      <td>Ruby Enterprise Edition 1.8.7-2012.02 released; End of Life imminent</td>
      <td>REE can be easily installed in parallel to your existing Ruby interpreter, allowing you switch to REE with minimal hassle or risk. REE has been out for several years now and is already used by many high-profile websites and organizations, such as New York Times, Twitter, Shopify and 37signals.</td>
      <td>2012-02-21</td>
      <td>Hongli Lai </td>
      <td>true</td>
      <td class="actions"><a class="btn" href="/articles/3">
              <i class="icon-eye-open"></i> Show</a><a class="btn" href="/articles/3/edit"><i class="icon-edit"></i> Edit</a><a rel="nofollow" data-confirm="Are you sure?" class="btn btn-danger" href="/styleguides"><i class="icon-trash icon-white"></i> Delete</a></td>
    </tr>
  </table>
  
  <div class="paginator"> 
    <nav class="pagination">
      <span class="first"><a href="#">« First</a></span>
      <span class="prev"><a rel="prev" href="#?page=7">← Previous</a></span>
      <span class="page gap">...</span>
      <span class="page"><a href="#?page=4">4</a></span>
      <span class="page"><a href="#?page=5">5</a></span>
      <span class="page"><a href="#?page=6">6</a></span>
      <span class="page"><a rel="prev" href="#?page=7">7</a></span>
      <span class="page current">8</span>
      <span class="page"><a rel="next" href="#?page=9">9</a></span>
      <span class="page"><a href="#?page=10">10</a></span>
      <span class="page"><a href="#?page=11">11</a></span>
      <span class="page"><a href="#?page=12">12</a></span>
      <span class="page gap">...</span>
      <span class="next"><a rel="next" href="#?page=9">Next →</a></span>
      <span class="last"><a href="#?page=22">Last »</a></span>
    </nav>
  </div>
  <br>
  <a class="btn btn-primary btn-large" href="/articles/new"><i class="icon-plus icon-white"></i> New Article</a>
</section>