<a name="ui"></a>
<h1>Twitter Bootstrap UI elements</h1>
<br>
<h2>Tabs</h2>
<div class="row">
  <div class="span4">
    <strong>Top tabs</strong>
    <div class="tabbable">
      <div class="tab-content">
        <div class="tab-pane" id="A">
          <p>I'm in Section A.</p>
        </div>
        <div class="tab-pane" id="B">
          <p>Howdy, I'm in Section B.</p>
        </div>
        <div class="tab-pane active" id="C">
          <p>What up girl, this is Section C.</p>
        </div>
      </div>
      <ul class="nav nav-tabs">
        <li class=""><a href="#A" data-toggle="tab">Section 1</a></li>
        <li class=""><a href="#B" data-toggle="tab">Section 2</a></li>
        <li class="active"><a href="#C" data-toggle="tab">Section 3</a></li>
      </ul>
    </div>  
  </div>
  <div class="span4">
    <strong>Bottom tabs</strong>
    <div class="tabbable tabs-below">
      <div class="tab-content">
        <div class="tab-pane" id="A">
          <p>I'm in Section A.</p>
        </div>
        <div class="tab-pane" id="B">
          <p>Howdy, I'm in Section B.</p>
        </div>
        <div class="tab-pane active" id="C">
          <p>What up girl, this is Section C.</p>
        </div>
      </div>
      <ul class="nav nav-tabs">
        <li class=""><a href="#A" data-toggle="tab">Section 1</a></li>
        <li class=""><a href="#B" data-toggle="tab">Section 2</a></li>
        <li class="active"><a href="#C" data-toggle="tab">Section 3</a></li>
      </ul>
    </div>
  </div>
  <div class="span4">
    <strong>Tabs with dropdowns</strong>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<h2>Sidebar</h2>
<div class="row">
  <div class="span3">
    <strong>Left sidebar tabs</strong>
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#lA" data-toggle="tab">Section 1</a></li>
        <li><a href="#lB" data-toggle="tab">Section 2</a></li>
        <li><a href="#lC" data-toggle="tab">Section 3</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="lA">
          <p>I'm in Section A.</p>
        </div>
        <div class="tab-pane" id="lB">
          <p>Howdy, I'm in Section B.</p>
        </div>
        <div class="tab-pane" id="lC">
          <p>What up girl, this is Section C.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="span3 offset1">
    <strong>Right sidebar tabs</strong>
    <div class="tabbable tabs-right">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#lA" data-toggle="tab">Section 1</a></li>
        <li><a href="#lB" data-toggle="tab">Section 2</a></li>
        <li><a href="#lC" data-toggle="tab">Section 3</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="lA">
          <p>I'm in Section A.</p>
        </div>
        <div class="tab-pane" id="lB">
          <p>Howdy, I'm in Section B.</p>
        </div>
        <div class="tab-pane" id="lC">
          <p>What up girl, this is Section C.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="span4">
        <h3>Example with icons</h3>
        <p>Same example, but with <code>&lt;i&gt;</code> tags for icons.</p>
        <div class="well" style="padding: 8px 0;">
          <ul class="nav nav-list">
            <li class="nav-header">List header</li>
            <li class="active"><a href="#"><i class="icon-white icon-home"></i> Home</a></li>
            <li><a href="#"><i class="icon-book"></i> Library</a></li>
            <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
            <li class="nav-header">Another list header</li>
            <li><a href="#"><i class="icon-user"></i> Profile</a></li>
            <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
            <li><a href="#"><i class="icon-flag"></i> Help</a></li>
          </ul>
        </div> <!-- /well -->
      </div>
</div>
<br>
<h2>Breadcrumb</h2>
<ul class="breadcrumb">
  <li><a href="#">Home</a> <span class="divider">/</span></li>
  <li><a href="#">Library</a> <span class="divider">/</span></li>
  <li class="active">Data</li>
</ul>

<h2>Pills</h2>
<div class="row">
  <div class="span4">
    <strong>Basic</strong>
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Messages</a></li>
    </ul>
  </div>
  <div class="span3">
    <strong>Stacked</strong>
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Messages</a></li>
    </ul>
  </div>
  <div class="span4 offset1">
    <strong>With dropdown</strong>
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<br><br><br>