<h1>Progress bars</h1>
<strong>Basic progress bar</strong><br>
<code>class="progress"</code><br><br>
<div class="progress">
  <div class="bar" style="width: 60%;">60%</div>
</div>
<br>
<strong>Striped progress bar</strong><br>
<code>class="progress progress-info progress-striped"</code><br><br>
<div class="progress progress-info progress-striped">
  <div class="bar" style="width: 70%;">70%</div>
</div>
<br>
<strong>Animated progress bar</strong><br>
<code>class="progress progress-danger progress-striped active"</code><br><br>
<div class="progress progress-danger progress-striped active">
  <div class="bar" style="width: 80%;">80%</div>
</div>

<br><br><br>