<table class="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Author</th>
        <th>Percent</th>
        <th class="numeric">Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd" id="post_1">
        <td><a href="#">Something</a></td>
        <td>Lorem ipsum dolor sit amet consequat. Duis aute irure dolor.</td>
        <td>Jim Beam</td>
        <td class="percent"><div class="gauge"><div class="percent">80%</div><div style="width: 80%;" class="gauge-line"></div></div></td>
        <td class="numeric">$100</td>
        <td class="actions"><a href="#"><img src="/images/icon_edit.gif" alt="Edit" /></a><a href="#"><img src="/images/icon_delete.gif" alt="Delete" /></a></td>
      </tr>
      <tr class="even" id="post_2">
        <td><a href="#">Second Post</a></td>
        <td>This is the second post</td>
        <td>Jack Daniels</td>
        <td class="percent"><div class="gauge"><div class="percent">18%</div><div style="width: 18%;" class="gauge-line"></div></div></td>
        <td class="numeric">$100</td>
        <td class="actions"><a href="#"><img src="/images/icon_edit.gif" alt="Edit" /></a><a href="#"><img src="/images/icon_delete.gif" alt="Delete" /></a></td>
      </tr>
      <tr class="odd" id="post_3">
        <td><a href="#">Something else</a></td>
        <td>Blah!</td>
        <td></td>
        <td class="percent"><div class="gauge"><div class="percent">8%</div><div style="width: 8%;" class="gauge-line"></div></div></td>
        <td class="numeric">$100</td>
        <td class="actions"><a href="#"><img src="/images/icon_edit.gif" alt="Edit" /></a><a href="#"><img src="/images/icon_delete.gif" alt="Delete" /></a></td>
      </tr>
    </tbody>
  </table>
<div class="buttons">
  <a class="button add" href="#">
    <span>Add new offer</span>
</a></div>
