<div id="oauth">
	<strong>OR</strong>
	
  <fieldset>
		<legend>Sign in with</legend>
    <% if devise_mapping.omniauthable? %>
      <% resource_class.omniauth_providers.each do |provider| %>
        <%= link_to(omniauth_authorize_path(resource_name, provider), :class => provider.to_s) do %><%=provider.to_s.titleize%><% end %>
      <% end %>
    <% end %>
  </fieldset>
</div>
