input[type="submit"]::-moz-focus-inner {
  border: none;
}

form input:-webkit-autofill, form input::-moz-autofill{
	background-color: #f0f0f0 !important;
}

p.inline-errors {
  color: #D12F19;
}
.field_with_errors{
	input {
		border-color: #D12F19;
	}
}
form abbr {
  border: 0;
}

label {
  display: block;
	abbr {
		color: #D12F19;
		margin-left: 3px;
	}
}

.required label {
  font-weight: bold;
}

.inline-hints, .hint {
  color: #777;
  font-size: 10px;
  margin-left: 10px;
}

legend {
  font-weight: bold;
}

input[disabled='disabled'] {
   background-color: #fcfcfc;
   cursor:default;
}

textarea {
  font-size: inherit;
	resize: vertical;
	overflow: auto;
}
.boolean {
	label {
		display: inline;
	}
	input {
		margin-right: 5px;
	}
}
