/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
    line-height:1;
}

nav ul {
    list-style: none;
		margin: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    cursor:help;
}

input, select {
    vertical-align: middle;
}

/* Table resets */
table {
    border-collapse: collapse;
    border-spacing: 0;
  	width: 100%;
	  th {
	     font-weight: bold;
	     text-align: left;
	  }
	  tr, td, th {
	      vertical-align: middle;
	  }
}
dd { margin: 0 0 0 30px; }
dt { font-weight: bold; margin-top: 10px; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; border-bottom: 1px solid #fff; }

pre, code, kbd, samp, tt { font: 15px/18px 'andale mono','monotype.com','lucida console',monospace; color:#000; }

tt, pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

blockquote {
    border-left: 4px solid #D1D1D1;
    color: #666;
    font-style: italic;
    margin: 15px 0;
    padding-left: 10px;
}