body { background-color: #dadada;}
.content {
  background: #fff;
  padding: 40px;
  margin: 40px auto;
  width: 880px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
}

#navigation {
  width: 100%;
}

#navigation ul{
  margin: 0;
  padding: 0;
  float: left;
}

#navigation ul li{
  display: inline;
}

#navigation ul li a{
  float: left;
  text-decoration: none;
  padding: 5px;
}

#navigation ul li a:hover, #navigation ul li .selected {
  color: black
}
