.drop-shadow {
    position:relative;
		@include box-shadow(0 0 3px rgba(0, 0, 0, 0.1), 0 0 30px rgba(255, 255, 255, 0.07) inset);
		&:before,
		&:after {
	    content:"";
	    position:absolute; 
	    z-index:-2;	
		}
}


.lifted:before,
.lifted:after { 
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 27%;
    max-width: 300px;
		@include box-shadow(0 18px 8px rgba(0, 0, 0, 0.3));
		@include transform(rotate(-3deg));
}

.lifted:after {
    right: 10px; 
    left: auto;
		@include transform(rotate(3deg));
}

.curved:before {
    top:10px;
    bottom:10px;
    left:0;
    right:50%;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
    box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius:10px / 100px;
    border-radius:10px / 100px;
}

.curved-vt-2:before {
    right:0;
}

.curved-hz-1:before {
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}