.alert, .error.flash-message {
  border-color: #FBC2C4;
  color: #c00;
	@include linear-gradient(top, #fbcfd1 0%, #FBE3E4 78%);
}
.notice {
	@include linear-gradient(top, #f8efb9 0%, #fff6bf 78%);
  border-color: #f5ecb7;
  color: #817134;
}
.success {
	color: #333;
	border-color: #a1cea3;
	@include linear-gradient(top, #c1e1c3 0%, #d2ead3 38%);
}
.alert, .notice, .flash-message{
	@include fadedown();
  padding: 10px 0;
	width: 100%;
	position: fixed;
	bottom: 0;
	bottom: 0;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
  border-style: solid;
	border-width: 8px 1px;
	z-index: 99999;
}
