.simple_form {
	fieldset {
		background: #e5e6e9;
		overflow: hidden;
		@include box-shadow(inset 0 1px 2px 0 rgba(0, 0, 0, 0.2));
		@include border-radius(0 0 12px 12px);
		text-align: left;
		display: inline-block;
		padding: 30px;
		margin-bottom: 20px;
		.input.search input{
			-webkit-appearance: none;
			padding: 5px 0;
		}
		.input.file {
			margin: 0 -10px 15px -10px;
			padding: 8px 12px;
			@include border-radius(8px);
			background: #f7f7f7;
			overflow: hidden;
			label {
				float: left;
				width: 80px;
				padding-top: 3px;
			}
		}
		div.buttons {
			color: #888;
			font-size: 15px;
			input {
				margin-right: 10px;
			}
			a {
				color: #888;
				&:hover {
					color: #333;
				}
			}
		}
		div.input.field_with_errors {
			position: relative;
			label {
				color: #b13734;
			}
			span.error {
				position: absolute;
				right: 0;
				top: 0;
				color: #b13734;
			}
			input {
				color: #b13734;
			}
		}
		.input.boolean {
			padding-bottom: 15px;
		}
		.disabled {
			label {
				color: #777;
			}
			input {
				background: #f3f3f3;
			}
		}
		label {
			text-shadow: 0 1px 0 #fff;
			font-size: 15px;
		}
		.notifications {
			padding: 5px 0 0;
			margin-top: 20px;
			@include box-shadow(inset 0 1px 1px 0 rgba(0, 0, 0, 0.1));
			a {
				display: block;
				float: left;
				clear: both;
				margin-top: 8px;
			}
		}
		.input {
			select {
				font-size: 15px;
				margin: 5px 1px 15px;
			}
			 &.check_boxes, &.radio {
				overflow: hidden;
				width: 600px;
				margin-bottom: 15px;			
			}
			&.datetime, &.select, &.date, &.time, &.time_zone {
				overflow: hidden;
				width: 600px;
				margin: 0 16px 15px 0;
				label {
					float: left;
					width: 200px;
				}
				select {
					margin: 0 1px 0;
				}
			}
			&.select {
				select {
					width: 350px;
				}
			}
			&.date, &.time, &.time_zone, &.select {
				.hint {
					clear: both;
					display: block;
					margin: 0 0 0 200px;
					float: left;
				}
			}
			&.radio, &.check_boxes {
				position: relative;
				span {
					width: 350px;
					float: left;
					display: block;
					margin-bottom: 5px;
					margin-left: 200px;
					input {
						float: left;
					}
					&.hint {
						position: absolute;
						left: 0;
						width: 180px;
						top: 50px;
						margin-left: 0;

					}
				}
				label {
					display: inline;
					&.radio, &.check_boxes {
						float: left;
						width: 200px;
						position: absolute;
						left: 0;
						top: 0;
					}
					&.collection_radio, &.collection_check_boxes {
						font-weight: normal;
						padding-left: 5px;
					}
				}
			}
		}
	}
}
input[type=submit], a.button, .buttons.actions a {
		@include box-shadow(inset 0 1px 0 0 #ffffff);
		@include border-radius(3px);
		@include linear-gradient(top, #ecedf1 0%, #bfc4cf 100%);
		border: 1px solid #8f949f;
		border-top: 1px solid #b8bdc8;
		display: inline-block;
		color: #5e6472;
		font-size: 18px;
		font-weight: bold;
		height: auto;
		padding: 9px 24px;
		text-decoration: none;
		text-shadow: 1px 1px 0 #fff;
		cursor: pointer;
		&.small {
			font-size: 12px;
			padding: 0 12px;
		}
		&:hover {
			color: #4a4f5a;
		}
		&:active {
			@include linear-gradient(top, #bfc4cf 0%, #ecedf1 100%);
			border: 1px solid #8f949f;
			border-top: 1px solid #b8bdc8;
		}
}

.input.password input, .input.string input, textarea {
	@include box-shadow(inset 0 1px 2px 0 #ccc);
	border-color: #c7c7c7 #E3E3E3 #E3E3E3 #c7c7c7;
	border-style: solid;
	border-width: 1px;
	padding: 5px 8px;
	@include border-radius(3px);
	font-size: 15px;
	margin: 5px 0 15px;
	&:focus {
		border-color: #b3b3b3 #d0d0d0 #d0d0d0 #b3b3b3;
	}
}


.inline-hints, .hint {
	margin: -12px 0 12px 0;
	display: block;
}



.buttons {
	&.actions {
		text-align: left;
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid #f0f0f0;
		a {
			margin-right: 20px;
			font-size: 15px;
			padding: 6px 17px;
		}
	}
	.add-btn {
		float: left;
		font-size: 15px;
		margin: 0 20px 0 0;
	}
}

