.simple_form {
	fieldset {
		background: #e5e6e9;
		overflow: hidden;
		@include box-shadow(inset 0 1px 2px 0 rgba(0, 0, 0, 0.2));
		@include border-radius(0 0 12px 12px);
		text-align: left;
		display: inline-block;
		padding: 30px;
		div.buttons {
			color: #888;
			font-size: 15px;
			input {
				margin-right: 10px;
			}
			a {
				color: #888;
				&:hover {
					color: #333;
				}
			}
		}
		div.input.field_with_errors {
			position: relative;
			span.error {
				position: absolute;
				right: 0;
				top: 0;
				color: #b13734;
			}
			input {
				color: #b13734;
			}
		}
		.input.boolean {
			padding-bottom: 15px;
		}
		label {
			text-shadow: 0 1px 0 #fff;
			font-size: 15px;
		}
		.notifications {
			padding: 5px 0 0;
			margin-top: 20px;
			@include box-shadow(inset 0 1px 1px 0 rgba(0, 0, 0, 0.1));
			a {
				display: block;
				float: left;
				clear: both;
				margin-top: 8px;
			}
		}
	}
}
input[type=submit], a.button {
		@include box-shadow(inset 0 1px 0 0 #ffffff);
		@include border-radius(3px);
		@include linear-gradient(top, #ecedf1 0%, #bfc4cf 100%);
		border: 1px solid #8f949f;
		border-top: 1px solid #b8bdc8;
		display: inline-block;
		color: #5e6472;
		font-size: 18px;
		font-weight: bold;
		height: auto;
		padding: 9px 24px;
		text-decoration: none;
		text-shadow: 1px 1px 0 #fff;
		cursor: pointer;
		&.small {
			font-size: 12px;
			padding: 0 12px;
		}
		&:hover {
			color: #4a4f5a;
		}
		&:active {
			@include linear-gradient(top, #bfc4cf 0%, #ecedf1 100%);
			border: 1px solid #8f949f;
			border-top: 1px solid #b8bdc8;
		}
}

.input.password input, .input.string input, textarea {
	@include box-shadow(inset 0 1px 2px 0 #ccc);
	border-color: #c7c7c7 #E3E3E3 #E3E3E3 #c7c7c7;
	border-style: solid;
	border-width: 1px;
	padding: 5px 8px;
	@include border-radius(3px);
	font-size: 15px;
	margin: 5px 0 15px;
}
.app {	
	.input.password input, .input.string input, textarea {
		width: 600px;
	}
}
.alert {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #D12F19;
}
.notice {
	background: #FFF6BF;
  border-color: rgba(255, 246, 191, 0.5);
  color: #817134;
}
.alert, .notice {
	@include fadedown();
  padding: 10px 0;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
  border-style: solid;
	border-width: 8px 1px;
}
.no-data {
	background: #e5e6e9;
	overflow: hidden;
	@include box-shadow(inset 0 1px 2px 0 rgba(0, 0, 0, 0.2));
	@include border-radius(12px);
	font-size: 16px;
	text-align: left;
	display: inline-block;
	padding: 30px 30px 70px;
	margin-top: 20px;
	margin-bottom: -60px;
	p {
		background: #fcfcfc;
		padding: 10px 20px;
		@include border-radius(8px);
	}
}

.view {
	background: #fcfcfc;
	border: 1px solid #f7f8fa;
	border-width: 8px 1px 1px 1px;
	@include linear-gradient(top, #fcfcfe 77%, #f3f4f7 100%);
	margin: 30px;
	padding: 30px;
}