table {
  width: 100%;
	margin: 20px auto;
	th {
		white-space: nowrap;
		padding: 8px 15px;
		@include linear-gradient(top, #fff 0%, #edeff4 100%);
		border-left: 1px solid #eceff5;
		text-shadow: 0 1px 0 #fff;
		cursor: default;
	}
	td {
		padding: 8px 15px;
		color: #383838;
		border-left: 1px solid #eceff5;
		cursor: default;
		text-align: left;
	}
    td.actions {
        text-align: center;
				border: 0 !important;
				padding: 5px 0;
        img {
		    	margin: 2px 1px;
	    	}
        a {
            width: 20px;
            height: 20px;
            text-indent: -9999em;
            overflow: hidden;
            display: block;
            float: left;
            background-position: 0 0;
            background-repeat: no-repeat;
            margin: auto;
            &:hover {
								@include opacity(50);
            }
        }
				&.edit_link a {
				    background-image: url("/assets/icon_edit.gif");
				}
				&.show_link a {
				    background-image: url("/assets/icon_view.gif");
				}
				&.destroy_link a {
				    background-image: url("/assets/icon_delete.gif");
				}
    }
	tr.odd td {
		background: #f5f9fd;
	}
	tr.even td {
		background: #fff;
	}
	th.numeric, td.numeric {
		text-align: right;
	}
	tr:hover {
		td {
			color: #000;
		}
	}
}

.no-data {
	background: #e5e6e9;
	overflow: hidden;
	@include box-shadow(inset 0 1px 2px 0 rgba(0, 0, 0, 0.2));
	@include border-radius(12px);
	font-size: 16px;
	text-align: left;
	display: inline-block;
	padding: 30px;
	margin-top: 20px;
	text-align: center;
	p {
		background: #fcfcfc;
		padding: 10px 20px;
		@include border-radius(8px);
		text-align: left;
	}
}

.app nav.pagination {
	margin-top: 10px;
	text-align: center;
	font-size: 15px;
	span, a {
		display: inline-block;
		@include border-radius(15px);
	}
	.page.current {
		font-style: normal;
		@include box-shadow(0 1px 0 1px rgba(0, 0, 0, 0.1) inset);
		line-height: 23px;
		width: 23px;
		text-align: center;
		background: #dfe0e4;
		color: #000;
		font-size: 12px;
		font-weight: bold;
		height: auto;
		text-decoration: none;
		text-shadow: 1px 1px 0 #fff;
		cursor: default;
		@include opacity(80);
		height: 23px;
		overflow: hidden;
	}
	a {
		margin: 0 3px;
		width: 23px;
		line-height: 23px;
		text-align: center;
		background: #9d9d9d;
		color: #fff;
		font-size: 12px;
		text-shadow: 0 1px 0 rgba(0,0,0,0.2);
		font-weight: bold;
		height: auto;
		text-decoration: none;
		height: 23px;
		overflow: hidden;
		cursor: pointer;
		&:hover {
			color: #fff;
			background-color: #6c6c6c;
			@include box-shadow(0 1px 0 1px rgba(0, 0, 0, 0.1) inset);
		}
	}
}
