# postgres
#
defaults_development: &defaults_development
  adapter: postgresql
  encoding: unicode
  host: localhost

development:
  database: application_dev
  <<: *defaults_development

test:
  database: application_test
  <<: *defaults_development


# # mysql@localhost
# #
# defaults_development: &defaults_development
#   adapter: mysql
#   encoding: utf8
#   host: localhost
#   username: root
#   password:
#
# development:
#   database: application_dev
#   <<: *defaults_development
#
# test:
#   database: application_test
#   <<: *defaults_development
