# sqlite
#
defaults_development: &defaults_development
  adapter: sqlite3
  pool: 5
  timeout: 5000

development:
  database: db/development.sqlite3
  <<: *defaults_development

test:
  database: db/test.sqlite3
  <<: *defaults_development


# # mysql@localhost
# #
# defaults_development: &defaults_development
#   adapter: mysql
#   encoding: utf8
#   host: localhost
#   username: root
#   password:
#
# development:
#   database: application_dev
#   <<: *defaults_development
#
# test:
#   database: application_test
#   <<: *defaults_development
