default: &default
  adapter: postgresql
  encoding: unicode
  username: postgres
  password: postgres
  host: localhost

development:
  <<: *default
  database: rails3-base_dev

test: &test
  <<: *default
  database: rails3-base_test

cucumber:
  <<: *test
