legend {
  margin-bottom: 1rem;
  display: inline-block;
}

abbr[title="required"] {
  color: $alert-color;
  border: 0;
}

.boolean {
  @include clearfix;
  margin-bottom: 1rem;
  input {
    float: left;
    margin: 0.2rem 0.5rem 0 0;
  }
  label {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
}

.form-actions {
  margin-top: 2rem;
}

.error {
  input {
    border-color: lighten($alert-color, 20%);
  }
  label {
    color: $body-font-color;
  }
  .error {
    margin-bottom: 1rem;
    line-height: 1.5;
    display: block;
    color: $alert-color;
  }
}

.has_hint {
  input,
  textarea,
  select {
    margin-bottom: 0;
  }
  .hint {
    margin-bottom: 1rem;
    line-height: 1.5;
    display: block;
    font-size: 0.75rem;
    color: lighten($body-font-color, 45%);
  }
  small.error {
    margin-bottom: 0;
  }
}

.button {
  white-space: normal;
}
