legend {
  display: inline-block;

  margin-bottom: 1rem;
}

.required {
  abbr {
    color: $alert-color;
    border: 0;
  }
}

.boolean {
  @include clearfix;

  margin-bottom: 1rem;

  input {
    float: left;

    margin: .2rem .5rem 0 0;
  }

  label {
    display: inline-block;

    margin: 0;

    vertical-align: top;
  }
}

.form-actions {
  margin-top: 2rem;
}

.error {
  input {
    border-color: lighten($alert-color, 20%);
  }

  label {
    color: $body-font-color;
  }

  .error {
    display: block;

    margin-bottom: 1rem;

    color: $alert-color;

    line-height: 1.5;
  }
}

.has-hint {
  input,
  textarea,
  select {
    margin-bottom: 0;
  }

  .hint {
    display: block;

    margin-bottom: 1rem;

    color: lighten($body-font-color, 45%);

    font-size: .75rem;
    line-height: 1.5;
  }

  &.error {
    .error {
      margin-bottom: 0;
    }
  }
}

.button {
  white-space: normal;
}
