/* Forms */

input[type="submit"]::-moz-focus-inner {
  border: none;
  } /*removes dotted outline on submit buttons when clicking in firefox */

  form ol {
    list-style: none;
    margin: 0 0 1em 0;
  }
  form ol ol { margin-left: 0; }
  form ol li { margin: 0 0 1em 0; list-style-position: outside; }
  form ol ol li { margin: 0 0 .25em 0; list-style-position: outside; } /*list-style-position fixes IE label margin bug*/

  form ol li.error input { background: #FBE3E4; }
  p.inline-errors { color: #D12F19; }
  form ol li.file {
    background: #e1e1e1;
    border: 1px solid #c8c8c8;
    padding: 10px;
  }

  form abbr { border-bottom: 0; color: red; font-size: 1.2em; margin-left: 0.2em; }

  label { display: block; }
  .required label { font-weight: bold; }
  .checkbox_field label, .radio_field label { font-weight: normal; }

  a.cancel { color: #7d0d0d; }
  .inline-hints {
    font-size: 0.8em;
    color: #666;
    margin-bottom: 0.25em;
  }

/* Fieldsets */
fieldset {
  margin: 0 0 1.5em 0;
  background: #f1f1f1;
  padding: 1.5em 1.5em 1em 1.5em;
  border: 1px solid #e3e3e3;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
fieldset fieldset, fieldset fieldset fieldset {
  padding: 0;
  border: 0;
}
legend { font-weight: bold; }
fieldset.buttons {
  background: inherit;
  border: 0;
  padding: 0;
}
fieldset.buttons li { display: inline; }
.radio fieldset {
  padding: 0;
  margin: 0;
}

/* Text fields */
input[type="text"], input[type="password"] {
  width: 300px;
  padding: 3px 2px;
  font-size: inherit;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-color:#A7A7A7 #E3E3E3 #E3E3E3 #A7A7A7;
  border-style:solid;
  border-width:1px;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
    -moz-box-shadow: 0 0 5px #FFF6BF;
    box-shadow: 0 0 5px #FFF6BF;
    -webkit-box-shadow: 0 0 5px #FFF6BF;
}
li.error input[type="text"]:focus, li.error input[type="password"]:focus, li.error textarea:focus{
    -moz-box-shadow: 0 0 5px #FBE3E4;
    box-shadow: 0 0 5px #FBE3E4;
    -webkit-box-shadow: 0 0 5px #FBE3E4;
}
input[disabled='disabled'] {
  background-color: #fcfcfc;
  cursor:default;
}
input[type="checkbox"] {
  margin: 0 3px 0 0;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
input[type="radio"] {
  margin: 0 3px 0 0;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.check_boxes label {
  vertical-align: middle;
  padding: 0;
  display: inline;
}
.radio label { padding: 0; }

/* Textareas */
textarea {
  width: 440px;
  height: 200px;
  margin: 0 0.5em 0.5em 0;
  padding: 5px;
  font-size: inherit;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-color:#A7A7A7 #E3E3E3 #E3E3E3 #A7A7A7;
  border-style:solid;
  border-width:1px;

}

/* Select fields */
fieldset .select select {
  width:200px;
  font-size: 0.9em;
} 
optgroup { margin: 0 0 .5em 0; }
form ol li.password, form ol li.date, form ol li.time, form ol li.select, form ol li.radio, form ol li.check_boxes, form ol li.string { width:350px; float: left; }
form ol li.datetime, form ol li.text { clear: both; width: 700px; }
/* Date & Time */
form ol li.date ol li, form ol li.time ol li {
  display: inline;
}
form ol li.datetime ol li {
  display: inline-block;
}
form ol li.datetime select, form ol li.date select, form ol li.time select {
  display: inline;
  width: auto;
}
form ol li.date label, form ol li.time label {
  display: none;
}
a.button, fieldset.buttons input { background: url("/images/button_bg.gif") bottom left repeat-x; border:0; height:32px; overflow:visible; cursor:pointer; border:solid 1px #d2d2d2; line-height:30px; padding: 0 10px; font-weight:bold; text-shadow: 1px 1px #fff; border-radius:3px; -khtml-border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; margin:0; text-transform:uppercase; color:#000; text-decoration:none; }
a.button:hover, fieldset.buttons input:hover { color:#555; }
a.button:focus, fieldset.buttons input:focus { background-position:top left; border-bottom:solid 1px #f3f3f3; }
a.button { line-height:30px; display:block; height:30px; float:left; clear:both; }
div.buttons { overflow:hidden; }
a.button.add span { background:url("/images/icon_add.gif") center left no-repeat; padding-left:20px; }
h5.legend { font-size:1.2em; }
fieldset.buttons li.commit { margin-right: 1em; }