/* Tables */

table {
  margin-bottom: 2em;
  width: 100%;
}
th {
  border-bottom: 2px solid #ccc;
  font-weight: bold;
  text-align: left;
}
td { border-bottom: 1px solid #ddd; }
caption, th, td {
  padding: 4px 10px 4px 0;
}
caption {
  background: #f1f1f1;
  padding: 10px 0;
  margin-bottom: 1em;
}

tr,td,th {
  vertical-align: middle;
}

/* Use this if you use span-x classes on th/td. */
table .last { padding-right: 0; } 

table.list th { white-space:nowrap; background:#f1f1f1; padding: 0.5em; }
table.list td { padding: 0.5em; }
table.list tr.odd td { background: #fafafa; }
table.list td.actions img { margin: 2px 1px; }
table.list th.numeric,
table.list td.numeric { text-align:right; }
div.gauge { border:solid 1px #ccc; width:100%; position:relative; height:10px; }
div.gauge-line { height:10px; background:#f0f0f0; position:absolute; top:0; left:0; }
div.percent { text-align:center; font-size:10px; position:relative; z-index:9; width:100%; }
table.list td.actions { padding: 0; width:2em; }
table.list td.actions a { width:20px; height:20px; text-indent:-9999em; overflow:hidden; display:block; float:left; background-position: 0 0; background-repeat:no-repeat; }
table.list td.actions a:hover { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; }
.edit_link a { background-image: url("/images/icon_edit.gif"); }
.destroy_link a { background-image: url("/images/icon_delete.gif"); }
.show_link a { background-image: url("/images/icon_view.gif"); }
