<%% title 'Listing <%= plural_table_name %>' %>

<%% unless collection.all.blank? %>
  <%%= table_for(collection) %>
  <%%= paginate(collection) %>
<%% else %>
  <p>Now it's time to create some data here. To create new entry, please use the button below.</p>
  <br /><br />
<%% end %>

<br />

<p>
  <%%= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path, :class => 'button' %>
</p>

