.toggle-topbar {
  i[class^="fi-"] {
    font-size: 1.5rem;
  }
}

.top-bar {
  .dropdown {
    // overrides foundation's styling for 'back' link in mobile version of topbar
    li.title {
      &.back {
        h5 {
          font-size: 0.8125rem;
          margin: 0;
        }
        a {
          line-height: 1;
          color: lighten($body-font-color, 45%);
          // in order to have left-arrow near the "back" link use ".with-arrow"
          &.with-arrow {
            position: relative;
            text-indent: 10px;
            &:before {
              content: "";
              display: block;
              width: 0;
              height: 0;
              border: inset 5px;
              border-color: transparent rgba(255, 255, 255, 0.4) transparent transparent ;
              border-left-style: solid;
              margin: -4.5px 0 0 10px;
              position: absolute;
              top: 50%;
              left: 0;
            }
          }
        }
      }
    }
  }
}

