/* GLOBAL */
body {
  background-color: #dadada;
  color: #222;
  font-size: 13px;
  font-family: "helvetica neue", arial, helvetica, "lucida grande", sans-serif;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 0.1em;
  color: #111;
  font-family: "helvetica neue", Helvetica, arial, sans-serif;
}

h1 {
  font-size: 2.2em;
  line-height: 1.4;
}

h2 {
  font-size: 1.6em;
  line-height: 1.1;
}

h3 {
  font-size: 1.3em;
  line-height: 1;
}

h4 {
  font-size: 1.1em;
  line-height: 1.25;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

/* Text elements */
p {
  margin-bottom: 0.5em;
  &.last {
        margin-bottom: 0;
  }
  img {
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
    &.top {
        margin-top: 0;
    }
  }
}

/* Use this if the image is at the top of the <p>. */

img {
  margin: 0 0 1.5em;
}

address {
  font-style: italic;
  margin-top: 1.5em;
}

del {
  color: #666;
}

a {
  color: #1a4882;
  text-decoration: underline;
  &:visited {
    color: #1a4882;
  }
  &:hover {
    color: #052246;
  }
  &:active {
     color: #1a4882;
  }
}

blockquote {
  border-left: 4px solid #d1d1d1;
  color: #666;
  font-style: italic;
  margin: 1.5em 0;
  padding-left: 1em;
}

strong {
  font-weight: bold;
}

em,
dfn {
  font-style: italic;
}

dfn {
  font-weight: bold;
}

pre, code {
  margin: 1.5em 0;
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  word-wrap: break-word; /* IE */
}

pre, code, tt {
  font: 1em 'andale mono', 'monotype.com', 'lucida console', monospace;
  line-height: 1.5;
}

pre.code {
  background: #000;
  color: #fff;
  padding: 20px;
}

tt {
  display: block;
  line-height: 1.5;
  margin: 1.5em 0;
}

/* GENERAL */
.content {
	background: #fff;
	width: 880px;
	overflow: hidden;
	margin: 40px auto;
	padding: 40px;
	@include border-radius(24px);
}

/* LIST */
table.list {
	th {
		white-space: nowrap;
		background: #f1f1f1;
		padding: .5em;
	}
	td {
		padding: .5em;
	}
    td.actions {
        width: 2em;
        text-align: center;
        padding: 0;
        img {
		    margin: 2px 1px;
	    }
        a {
            width: 20px;
            height: 20px;
            text-indent: -9999em;
            overflow: hidden;
            display: block;
            float: left;
            background-position: 0 0;
            background-repeat: no-repeat;
            margin: auto;
            &:hover {
                filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
                 -moz-opacity: 0.5;
                -khtml-opacity: 0.5;
                opacity: 0.5;
            }
        }
    }
	tr.odd td {
		background: #fafafa;
	}
	th.numeric, td.numeric {
		text-align: right;
	}
}

div.gauge {
	border: solid 1px #ccc;
	width: 100%;
	position: relative;
	height: 10px;
}
div.gauge-line {
	height: 10px;
	background: #f0f0f0;
	position: absolute;
	top: 0;
	left: 0;
}
div.percent {
	text-align: center;
	font-size: 10px;
	position: relative;
	z-index: 9;
	width: 100%;
}

/* ACTIONS */
.edit_link a {
	background-image:url(/assets/icon_edit.gif);
}
.destroy_link a {
	background-image:url(/assets/icon_delete.gif);
}
.show_link a {
	background-image:url(/assets/icon_view.gif);
}

/* PAGINATION */
.pagination {
	text-align:center;
	.page.current {
		font-style: italic;
		background: #f0f0f0;
		border: solid 1px #ddd;
		margin: 0 2px;
		padding: 0 5px;
		@include border-radius(6px);
	}
}

/* Success, error & notice boxes for messages and errors. */
div.error, div.notice, div.success,
#flash_failure, #flash_success, #flash_notice {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  padding: 0.8em;
}

div.error, #flash_failure {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #D12F19;
}

div.error a, #flash_failure a {
  color: #D12F19;
}

div.notice, #flash_notice {
  background: #FFF6BF;
  border-color: #FFD324;
  color: #817134;
}

div.notice a, #flash_notice a {
  color: #817134;
}

div.success, #flash_success {
  background: #E6EFC2;
  border-color: #C6D880;
  color: #529214;
}

div.success a, #flash_success a {
  color: #529214;
}

div.alert {
	border: 1px solid #FBC2C4;
	margin-bottom: 1em;
	background: #FBE3E4;
	color: #D12F19;
	padding: .8em;
	@include border-radius(8px);
}

/* Misc classes and elements */
/* Use a .box to create a padded box inside a column.  */
.box {
  background: #eee;
  margin-bottom: 1.5em;
  padding: 1.5em;
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd;
  border: none;
  clear: both;
  color: #ddd;
  float: none;
  height: 1px;
  margin: 0 0 1.4em;
  width: 100%;
  .space {
     background: #fff;
     color: #fff;
  }
}


/* for image replacement */
.ir {
  background-repeat: no-repeat;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
  zoom: 1;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
