/* FORMS */
a.button, input.button {
	background: url('/assets/button_bg.gif') bottom left repeat-x;
	height: 32px;
	overflow: visible;
	cursor: pointer;
	border: solid 1px #d2d2d2;
	line-height: 30px;
	font-weight: bold;
	text-shadow: 1px 1px #fff;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	margin: 0;
	padding: 0 10px;
	margin-bottom: 1.5em;
	@include border-radius(3px);
	&:hover {
		color: #555;
	}
	&:focus {
		background-position: top left;
		border-bottom: solid 1px #f3f3f3;
	}
}
a.button {
	line-height: 30px;
	display: block;
	height: 30px;
	float: left;
	clear: both;
}
div.buttons {
	overflow: hidden;
}
a.button.add span {
	background: url('/assets/icon_add.gif') left center no-repeat;
	padding-left: 20px;
}
h5.legend {
	font-size: 1.2em;
}
fieldset.buttons li.commit{
	margin-right: 1em;
}
textarea {
	border-color: #A7A7A7 #E3E3E3 #E3E3E3 #A7A7A7;
	border-style: solid;
	border-width: 1px;
	@include border-radius(3px);
}
textarea:focus, input[type=text]:focus, input[type=password]:focus {
	outline: 0;
	@include box-shadow(0 0 5px #FFF6BF);
}

li.error input[type=text]:focus, li.error input[type=password]:focus, li.error textarea:focus {
	@include box-shadow(0 0 5px #FBE3E4);
}
input[type=text], input[type=password] {
	width: 300px;
	border-color: #A7A7A7 #E3E3E3 #E3E3E3 #A7A7A7;
	border-style: solid;
	border-width: 1px;
	padding: 3px 2px;
	@include border-radius(3px);
}
fieldset {
    background: #F1F1F1;
    border: 1px solid #E3E3E3;
    margin: 0 0 1.5em 0;
    padding: 1.5em 1.5em 1em 1.5em;
    @include border-radius(10px);
	.hint {
		display: block;
		font-size: 10px;
		color: #aaa;
	}
	.input.boolean {
		margin: 4px 0 0;
		label {
			margin: 0 0 0 6px;
			display: inline;
		}
	}
}
form {
	.input.string, .input.select, .input.boolean {
		width:350px;
		float:left;
		margin: 0 0 3px;
	}
	.input.datetime, input.text {
		clear:both;
		width:700px;
	}
	abbr {
		color:red;
		font-size:1.2em;
		margin-left:.2em;
	}
	.field_with_errors {
		input {
			background: #FBE3E4;
		}
	}
	.error {
		clear: both;
		color: #D12F19;
		display: block;
	}
}
#user_remember_me_input {
	clear:both;
}
#session_new, #user_new, #user_edit {
	width:400px;
	float:left;
}

.notifications {
	margin: 3px 0 5px;
	line-height: 20px;
	clear: both;
}
