- flash.each do |type, content|
  div(data-alert class="alert-box #{type}" tabindex="0" aria-live="assertive" role="alertdialog")
    = content
    button.close(tabindex="0" aria-label="Close Alert") &times;
